PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/peezuhub?retryWrites=true&w=majority&appName=PeezuHub
JWT_SECRET=change_me_to_a_long_random_secret
CLIENT_URL=http://localhost:5173
MAIL_CLIENT_URL=http://localhost:5173
APP_NAME=PeezuHub
MAIL_APP_NAME=PeezuHub
ADMIN_EMAIL=peezutech@gmail.com
ADMIN_EMAILS=peezutech@gmail.com
MAIL_ADMIN_EMAIL=peezutech@gmail.com
MAIL_SUPPORT_EMAIL=peezutech@gmail.com
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxx
SMTP_SERVICE=gmail
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM=PeezuHub <your_gmail_address@gmail.com>
